---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Acceuile - Amicale Versailles Montreuil">
  <h2>Qui sommes nous ?</h2>
  <h3>Représenter les familles</h3>
  <p>Participation aux commissions municipales, signalement des besoins...</p>

  <div
    style="background: #ccc; height: 200px; display: flex; align-items: center; justify-content: center;"
  >
    [Image Ecole Condamines]
  </div>
</BaseLayout>"
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
</html>
