---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import ecoleCondaminesImg from "../images/ecole-condamines-high.webp";
import Member from "../components/Member.astro";
---

<BaseLayout title="Acceuil - Amicale Versailles Montreuil">
  <div class="fixed inset-0 -z-10">
    <Image
      src={ecoleCondaminesImg}
      alt=""
      class="h-full w-full object-cover opacity-40"
    />
  </div>

  <!-- Hero Section (The "Startup" look) -->
  <div
    class="flex flex-col items-center justify-center min-h-[60vh] text-center px-4"
  >
    <h1 class="text-5xl md:text-6xl font-bold mb-6">
      Amicale Versailles Montreuil
    </h1>
    <p class="text-xl md:text-2xl text-gray-800 max-w-2xl mb-8">
      Représenter les familles, participer à la vie scolaire et animer la
      communauté.
    </p>

    <a
      href="#about"
      class="btn-primary"
    >
      Qui sommes nous ?
    </a>
  </div>

  <!-- Content Section -->
  <div id="about">
    <!-- Mission Card -->
    <div class="section-card">
      <h2 class="paragraph-heading">Notre Mission</h2>
      <p class="paragraph-body">
        L'amicale des parents d'élèves Condamines regroupe des parents, dont les enfants sont scolarisés à l'école des Condamines.
      </p>
      <p class="paragraph-body">
        Nous sommes une association de parents d'élèves engagés, bénévoles et solidaires, réunis autour d'un objectif commun :
      </p>
      <p class="paragraph-body font-bold">
        Améliorer la qualité de vie à l'école pour tous les enfants
      </p>
      <p class="paragraph-body">
        Tout au long de l'année, nous mettons en place des actions concrètes pour renforcer la vie à l'école.
      </p>
      <p class="paragraph-body">
        Notre engagement repose sur des valeurs de coopérations, de respect et de bienveillance, avec la conviction que l'école est un lieu de vie autant qu'un lieu d'apprentissage.
      </p>
    </div>

    <!-- Engagements Card -->
    <div class="section-card">
      <h2 class="section-card-title">Nos Engagements Clés</h2>
      <div class="grid md:grid-cols-2 gap-8">
        <div>
          <h3 class="paragraph-heading text-red-600">
            Représenter les familles
          </h3>
          <p>
            Nous participons activement aux échanges avec la municipalité pour faire entendre la vois des familles sur des sujets du quotidien scolaire, tels que :
          </p>
          <ul class="list-primary">
            <li>Participation aux commissions municipales liées à la restauration scolaire, ou au temps périscolaire.</li>
            <li>Signalement des besoins en matériel ou en sécurité aux abords de l'école</li>
            <li>Demandes d'aménagements et travaux d'améliorations </li>
          </ul>
        </div>
        <div>
          <h3 class="paragraph-heading text-red-600">
            Soutenir les projets pédagogiques
          </h3>
          <p class="text-gray-700">
            Nous accompagnons les enseignants dans la mise en œuvre de projets éducatifs et culturels via :
          </p>
          <ul class="list-primary">
            <li>Financement ( ou co-financement) de sorties scolaires, spectacles, ateliers</li>
            <li>Recherche de partenaire locaux tel que des intervenants, associations, ou artistes, afin d'enrichir les activités</li>
          </ul>
        </div>
        <div>
          <h3 class="paragraph-heading text-red-600">Être à l'écoute des parents</h3>
          <p class="text-gray-700">
            Nous mettons en place des outils pour recueillir vos besoins, idées et préoccupations concernant la vie à l'école, tels que :
          </p>
          <ul class="list-primary">
            <li>Questionnaires réguliers anonymes pour mieux comprendre vos attentes</li>
            <li>Des temps d'échanges informels autour d'évènements</li>
            <li>Mise à disposition d'une boite à idée numérique accessible à tous (lien vers la boite à idée)</li>
            <li>Communication régulière via une newsletter, afin de garder tous le monde informé</li>
          </ul>
        </div>
        <div>
          <h3 class="paragraph-heading text-red-600">
            Contribuer activement à créer un environnement scolaire épanouissant
          </h3>
          <p class="text-gray-700">
            Avec l'école, nous aidons à créer des moments de convivialité pour renforcer la communauté scolaire, comme :
          </p>
          <ul class="list-primary">
            <li>Organisation de la kermesse de l'école</li>
            <li>Mise en place de projet collaboratif, avec des opérations ponctuelles telles que "les boites d'amours"</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Team Section -->
    <div class="section-card">
      <div>
        <h2 class="text-3xl font-bold mb-6 text-center">Notre Équipe</h2>
        <div class="grid md:grid-cols-5 gap-8">
          <Member
            firstName="Elisabeth"
            lastName="Carissimo"
            photo="elisabeth-carissimo.png"
            studentTeachers={["Mme Dupont", "M. Martin"]}
          />
          <Member
            firstName="Isabelle"
            lastName="Berriri"
            photo="isabelle-berriri.png"
            studentTeachers={[
              "CE2 - Mme Rischmann",
              "CM2 - Mmes Marchand / Duris",
            ]}
          />
          <Member
            firstName="Lise"
            lastName="Delorme"
            photo="lise-delorme.png"
            studentTeachers={["CE1 - Mme Martres", "CM1 - Mme Dupouy"]}
          />
          <Member
            firstName="Sophie"
            lastName="Prinet"
            photo="sophie-prinet.png"
            studentTeachers={["CE2 - Mme Pouget Abadie"]}
          />
          <Member
            firstName="Emilie"
            lastName="Auclair"
            photo="emilie-auclair.png"
            studentTeachers={["CE1 - Mme Poubet Abadie"]}
          />
          <Member
            firstName="Emilie"
            lastName="Daufresne"
            photo="emilie-daufresne.png"
            studentTeachers={["CE1 - Mme Martres", "CM1 - Mmes Dupouy"]}
          />
        </div>
      </div>
    </div>

    <!-- Donation Section -->
    <div class="section-card">
      <h2 class="section-card-title">Faire Un Don</h2>
      <p class="paragraph-body">
        L’Association des Parents d’Élèves œuvre toute l’année pour soutenir les projets pédagogiques et organiser des moments conviviaux pour nos enfants. Afin de continuer à financer ces initiatives (sorties scolaires, activités culturelles, événements festifs), nous faisons appel à votre générosité.
      </p>
      <p class="paragraph-body">
        Chaque don, même modestes, contribue directement à améliorer la vie scolaire et à offrir davantage d’opportunités aux élèves.
      </p>
      <p class="paragraph-body">
        Un grand merci pour votre soutien et votre engagement !
      </p>
      <div class="text-center">
        <a href="#" class="btn-primary">
          JE FAIS UN DON !
        </a>
      </div>
    </div>

    <!-- Idea Box Section -->
    <div class="section-card">
      <h2 class="section-card-title">Déposez Vos Idées !</h2>
      <form class="max-w-xl mx-auto">
        <div class="mb-4">
          <label for="name" class="block font-bold mb-2">Nom *</label>
          <input type="text" id="name" name="name" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-violet-500" required>
        </div>
        <div class="mb-4">
          <label for="email" class="block font-bold mb-2">Adresse e-mail *</label>
          <input type="email" id="email" name="email" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-violet-500" required>
        </div>
        <div class="mb-4">
          <label for="message" class="block font-bold mb-2">Message *</label>
          <textarea id="message" name="message" rows="4" class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:border-violet-500" required></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn-primary">
            Envoyer le formulaire
          </button>
        </div>
      </form>
    </div>

  </div>
</BaseLayout>