---
import '../styles/global.css';
import { Image } from 'astro:assets';
const { title } = Astro.props;
import condaminesLogo from '../images/logo-amicale-high.webp';
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="sticky top-0 z-50 bg-linear-to-r from-yellow-300 via-gray-700 to-green-400 shadow-md">
      <nav>
        <a href="/" class="flex justify-center">
          <Image src={condaminesLogo} alt="Amicale Versailles Montreuil" class="h-16 w-auto" />
        </a>
        <ul class="flex justify-center space-x-5 p-4 text-white font-semibold">
          <li class="hover:bg-white/10"><a href="/">Accueil</a></li>
          <li class="hover:bg-white/10"><a href="/events">Evénements</a></li>
          <li class="hover:bg-white/10"><a href="/team">Equipe</a></li>
        </ul>
      </nav>
    </header>

    <main class="flex-grow">
      <slot /> 
    </main>

    <footer class="bg-white/80 shadow mt-auto text-center p-4">
      <p>© 2025 Amicale des parents d'élèves.</p>
    </footer>
  </body>
</html>
