---
import '../styles/global.css';
const { title } = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="sticky top-0 z-50 bg-white/40 shadow-md">
      <nav>
        <h1 class="text-3xl font-bold p-4 text-center">Amicale des parents d'élèves Versailles Montreuil</h1>
        <ul class="flex justify-center space-x-4 p-2">
          <li><a href="/">Accueil</a></li>
          <li><a href="/events">Evénements</a></li>
          <li><a href="/team">Equipe</a></li>
        </ul>
      </nav>
    </header>

    <main class="flex-grow">
      <slot /> 
    </main>

    <footer class="bg-gray-200 text-center p-4">
      <p>© 2025 Amicale des parents d'élèves.</p>
    </footer>
  </body>
</html>
